<main>
  <div id="event-list">
    <h1>Prochains concerts</h1>
    <div class="events">
      <div class="event">
        <a href="#concert-8">
          <img src="https://static.wikia.nocookie.net/goldensun/images/0/05/KolimaOverworld.png">
          <p class="summary">Quelque part<br>À un moment</p>
        </a>
      </div>
      <div class="event">
        <a href="#concert-7">
          <img src="https://static.wikia.nocookie.net/goldensun/images/8/84/Bilibin.png">
          <p class="summary">Quelque part<br>À un moment</p>
        </a>
      </div>
      <div class="event">
        <a href="#concert-6">
          <img src="https://static.wikia.nocookie.net/goldensun/images/7/70/VaultOverworld.png">
          <p class="summary">Quelque part<br>À un moment</p>
        </a>
      </div>
      <div class="event">
        <a href="#concert-5">
          <img src="https://static.wikia.nocookie.net/goldensun/images/6/65/ValeOverworld.png">
          <p class="summary">Quelque part<br>À un moment</p>
        </a>
      </div>
    </div>
    <h1>Concerts passés</h1>
    <div class="events">
      <div class="event">
        <a href="#concert-4">
          <img src="https://static.wikia.nocookie.net/goldensun/images/e/ef/TolbiOverworld.png">
          <p class="summary">Quelque part<br>À un moment</p>
        </a>
      </div>
      <div class="event">
        <a href="#concert-3">
          <img src="https://static.wikia.nocookie.net/goldensun/images/0/05/KolimaOverworld.png">
          <p class="summary">Quelque part<br>À un moment</p>
        </a>
      </div>
      <div class="event">
        <a href="#concert-2">
          <img src="https://static.wikia.nocookie.net/goldensun/images/8/84/Bilibin.png">
          <p class="summary">Quelque part<br>À un moment</p>
        </a>
      </div>
      <div class="event">
        <a href="#concert-1">
          <img src="https://static.wikia.nocookie.net/goldensun/images/7/70/VaultOverworld.png">
          <p class="summary">Quelque part<br>À un moment</p>
        </a>
      </div>
    </div>
  </div>

  <div id="event-details">
    <div class="details" id="concert-8">
      <h1>Concert 8</h1>
      <h2>Programme</h2>
      <ol>
        <li>Un morceau</li>
        <li>Un morceau</li>
        <li>Un morceau</li>
        <li>Un morceau</li>
        <li>Entracte</li>
        <li>Un morceau</li>
        <li>Un morceau</li>
        <li>Un morceau</li>
        <li>Un morceau</li>
      </ol>
      <h2>Salle</h2>
      42 Place de l'Endroit
      01337 La-Ville-du-Coin
      <h2>Programmation</h2>
      <p><a href="http://perdu.com">Site du programmateur</a></p>
      <p>Conditions de réservation : tenue correcte, vaccins à jour</p>
      <p>Tarif 1 place : 108¤</p>
    </div>
    <div class="details" id="concert-7">
      <h1>Concert 7</h1>
      <h2>Programme</h2>
      <ol>
        <li>Un morceau</li>
        <li>Un morceau</li>
        <li>Un morceau</li>
        <li>Un morceau</li>
        <li>Entracte</li>
        <li>Un morceau</li>
        <li>Un morceau</li>
        <li>Un morceau</li>
        <li>Un morceau</li>
      </ol>
      <h2>Salle</h2>
      43 Place de l'Endroit
      02337 La-Ville-du-Coin
      <h2>Programmation</h2>
      <p><a href="http://perdu.com">Site du programmateur</a></p>
      <p>Conditions de réservation : tenue correcte, vaccins à jour</p>
      <p>Tarif 1 place : 107¤</p>
    </div>
    <div class="details" id="concert-6">
      <h1>Concert 6</h1>
      <h2>Programme</h2>
      <ol>
        <li>Un morceau</li>
        <li>Un morceau</li>
        <li>Un morceau</li>
        <li>Un morceau</li>
        <li>Entracte</li>
        <li>Un morceau</li>
        <li>Un morceau</li>
        <li>Un morceau</li>
        <li>Un morceau</li>
      </ol>
      <h2>Salle</h2>
      44 Place de l'Endroit
      03337 La-Ville-du-Coin
      <h2>Programmation</h2>
      <p><a href="http://perdu.com">Site du programmateur</a></p>
      <p>Conditions de réservation : tenue correcte, vaccins à jour</p>
      <p>Tarif 1 place : 106¤</p>
    </div>
    <div class="details" id="concert-5">
      <h1>Concert 5</h1>
      <h2>Programme</h2>
      <ol>
        <li>Un morceau</li>
        <li>Un morceau</li>
        <li>Un morceau</li>
        <li>Un morceau</li>
        <li>Entracte</li>
        <li>Un morceau</li>
        <li>Un morceau</li>
        <li>Un morceau</li>
        <li>Un morceau</li>
      </ol>
      <h2>Salle</h2>
      45 Place de l'Endroit
      04337 La-Ville-du-Coin
      <h2>Programmation</h2>
      <p><a href="http://perdu.com">Site du programmateur</a></p>
      <p>Conditions de réservation : tenue correcte, vaccins à jour</p>
      <p>Tarif 1 place : 105¤</p>
    </div>
    <div class="details" id="concert-4">
      <h1>Concert 4</h1>
      <h2>Programme</h2>
      <ol>
        <li>Un morceau</li>
        <li>Un morceau</li>
        <li>Un morceau</li>
        <li>Un morceau</li>
        <li>Entracte</li>
        <li>Un morceau</li>
        <li>Un morceau</li>
        <li>Un morceau</li>
        <li>Un morceau</li>
      </ol>
      <h2>Salle</h2>
      46 Place de l'Endroit
      05337 La-Ville-du-Coin
      <h2>Programmation</h2>
      <p><a href="http://perdu.com">Site du programmateur</a></p>
      <p>Conditions de réservation : tenue correcte, vaccins à jour</p>
      <p>Tarif 1 place : 104¤</p>
    </div>
    <div class="details" id="concert-3">
      <h1>Concert 3</h1>
      <h2>Programme</h2>
      <ol>
        <li>Un morceau</li>
        <li>Un morceau</li>
        <li>Un morceau</li>
        <li>Un morceau</li>
        <li>Entracte</li>
        <li>Un morceau</li>
        <li>Un morceau</li>
        <li>Un morceau</li>
        <li>Un morceau</li>
      </ol>
      <h2>Salle</h2>
      47 Place de l'Endroit
      06337 La-Ville-du-Coin
      <h2>Programmation</h2>
      <p><a href="http://perdu.com">Site du programmateur</a></p>
      <p>Conditions de réservation : tenue correcte, vaccins à jour</p>
      <p>Tarif 1 place : 103¤</p>
    </div>
    <div class="details" id="concert-2">
      <h1>Concert 2</h1>
      <h2>Programme</h2>
      <ol>
        <li>Un morceau</li>
        <li>Un morceau</li>
        <li>Un morceau</li>
        <li>Un morceau</li>
        <li>Entracte</li>
        <li>Un morceau</li>
        <li>Un morceau</li>
        <li>Un morceau</li>
        <li>Un morceau</li>
      </ol>
      <h2>Salle</h2>
      48 Place de l'Endroit
      07337 La-Ville-du-Coin
      <h2>Programmation</h2>
      <p><a href="http://perdu.com">Site du programmateur</a></p>
      <p>Conditions de réservation : tenue correcte, vaccins à jour</p>
      <p>Tarif 1 place : 102¤</p>
    </div>
    <div class="details" id="concert-1">
      <h1>Concert 1</h1>
      <h2>Programme</h2>
      <ol>
        <li>Un morceau</li>
        <li>Un morceau</li>
        <li>Un morceau</li>
        <li>Un morceau</li>
        <li>Entracte</li>
        <li>Un morceau</li>
        <li>Un morceau</li>
        <li>Un morceau</li>
        <li>Un morceau</li>
      </ol>
      <h2>Salle</h2>
      49 Place de l'Endroit
      08337 La-Ville-du-Coin
      <h2>Programmation</h2>
      <p><a href="http://perdu.com">Site du programmateur</a></p>
      <p>Conditions de réservation : tenue correcte, vaccins à jour</p>
      <p>Tarif 1 place : 101¤</p>
    </div>
  </div>

  <script>
    // When JS is enabled, hide concert details by default, and
    // allow the user to display concerts selectively.
    var detailsStyle = document.createElement('style');
    document.head.appendChild(detailsStyle);
    detailsStyle.sheet.insertRule('.details:not(.active) {display:none}');

    var anchor = document.location.hash;
    if (anchor.match(/#concert-[0-9]/))
        document.querySelector(anchor).classList.add('active');

    document.querySelectorAll('.event a').forEach((link) => {
        link.addEventListener('click', function(click) {
            if (click.ctrlKey || click.shiftKey)
                return;

            var prev = document.querySelector('.details.active');
            if (prev)
                prev.classList.remove('active');
            var id = link.attributes['href'].value;
            document.querySelector(id).classList.add('active');
        });
    });
  </script>

</main>
