@media (min-width: 40em) {
    main {
        display: grid;
        grid-template-columns: 60% 40%;
        padding-right: 4%;
    }

    main > div {
        padding: 2%;
    }

    #contact-us dl {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    #contact-us dd {
        margin-left: inherit;
    }
}
