<main>
  <div id="contact-us">
    <h1>Contact</h1>
    <p>Nos coordonnées :</p>
    <dl>
      <dt>Email :
        <dd><a href="mailto:contact@example.com">contact@example.com</a></dd>
      </dt>
      <dt>Téléphone :
        <dd><a href="tel:+33-01-99-00-01-02">01 99 00 01 02</a></dd>
      </dt>
    </dl>
    <p>
      Tenez-vous au courant des actualités du
      quatuor <a href="feed.xml">en vous abonnant à notre
        flux.</a>
    </p>
  </div>
  <div id="partners">
    <h1>Partenaires</h1>
    <p>
      Nous offrons nos plus sincères remerciements aux personnes à
      qui nous avons emprunté des images, vidéos et musiques :

      <ul>
        <li><a href="https://goldensun-world.com/home">Golden Sun World</a></li>
        <li><a href="https://old.reddit.com/r/GoldenSun/comments/hmb56u/the_restoration_that_took_2_weeks_and_all_my/">Isaac730</a></li>
        <li><a href="https://www.youtube.com/playlist?list=PLA874B3EAA867625C">A. K.-O.</a></li>
        <li><a href="https://downloads.khinsider.com/">Kingdom Hearts Insider</a></li>
        <li><a href="https://wikipedia.org">Wikipédia</a></li>
        <li>Et bien sûr, <a href="https://fr.wikipedia.org/wiki/Camelot_Software_Planning">le studio Camelot</a></li>
      </ul>
  </div>
</main>
