<main>
  <h1>Photos</h1>
  <div class="mosaic photos">
    <div class="photo">
      <a href="https://v3.goldensun-world.com/img/wallpapers/wallpaper1.jpg">
        <img src="https://v3.goldensun-world.com/img/wallpapers/wallpaper1_800x600.jpg">
      </a>
    </div>
    <div class="photo">
      <a href="https://i.redd.it/snvwn43xm9951.png">
        <img src="https://preview.redd.it/snvwn43xm9951.png?width=517&auto=webp&s=ffe4c47873bb42e8a62bf678d076ebc7f2bdc880">
      </a>
    </div>
    <div class="photo">
      <a href="https://i.redd.it/snvwn43xm9951.png">
        <img src="https://preview.redd.it/snvwn43xm9951.png?width=517&auto=webp&s=ffe4c47873bb42e8a62bf678d076ebc7f2bdc880">
      </a>
    </div>
    <div class="photo">
      <a href="https://v3.goldensun-world.com/img/wallpapers/wallpaper1.jpg">
        <img src="https://v3.goldensun-world.com/img/wallpapers/wallpaper1_800x600.jpg">
      </a>
    </div>
    <div class="photo">
      <a href="https://v3.goldensun-world.com/img/wallpapers/wallpaper1.jpg">
        <img src="https://v3.goldensun-world.com/img/wallpapers/wallpaper1_800x600.jpg">
      </a>
    </div>
    <div class="photo">
      <a href="https://i.redd.it/snvwn43xm9951.png">
        <img src="https://preview.redd.it/snvwn43xm9951.png?width=517&auto=webp&s=ffe4c47873bb42e8a62bf678d076ebc7f2bdc880">
      </a>
    </div>
  </div>
  <h1>Vidéos</h1>
  <div class="mosaic videos">
    <div class="video">
      <iframe src="https://www.youtube.com/embed/rl16-7wZmFY"
              frameborder="0" allowfullscreen class="yt">
      </iframe>
    </div>
    <div class="video">
      <iframe src="https://www.youtube.com/embed/QpYo0lAwQ2g"
              frameborder="0" allowfullscreen class="yt">
      </iframe>
    </div>
    <div class="video">
      <iframe src="https://www.youtube.com/embed/1SJsDCMyU9c"
              frameborder="0" allowfullscreen class="yt">
      </iframe>
    </div>
    <div class="video">
      <iframe src="https://www.youtube.com/embed/9yxEPZ1vCnM"
              frameborder="0" allowfullscreen class="yt">
      </iframe>
    </div>
  </div>
  <h1 id="musics">Musique</h1>
  <p>
    Combat (Vlad)
  </p>
  <audio controls
         src="https://vgmsite.com/soundtracks/golden-sun/oiqemsif/04%20isaac%27s%20battle%20theme.mp3">
    <a href="https://vgmsite.com/soundtracks/golden-sun/oiqemsif/04%20isaac%27s%20battle%20theme.mp3">
      Lien
    </a>
  </audio>
  <p>
    Combat (Salamandar)
  </p>
  <audio controls
         src="https://vgmsite.com/soundtracks/golden-sun/piphcdjg/07%20saturos%20and%20menardi%27s%20battle%20theme.mp3">
    <a href="https://vgmsite.com/soundtracks/golden-sun/piphcdjg/07%20saturos%20and%20menardi%27s%20battle%20theme.mp3">
      Lien
    </a>
  </audio>
</main>
