<main>
  <div id="bio">
    <h1>Garet</h1>
    <dl>
      <dt>Lieu de naissance</dt>
      <dd>Val</dd>
      <dt>Élément</dt>
      <dd>Feu</dd>
      <dt>Classe</dt>
      <dd>Garde</dd>
      <dt>Armes de prédilection</dt>
      <dd>Sabres, épées, haches, masses</dd>
    </dl>
  </div>
  <div id="photo">
    <img src="https://v3.goldensun-world.com/img/wallpapers/garet_l.jpg" style="object-position: 35%">
  </div>
</main>
