body {
    background-color: #a33;
}

main {
    position: relative;
}

#next-concert {
    position: absolute;
    bottom: 4%;
    height: 20ex;
    width: 10em;
    text-align: center;
    background: no-repeat center/contain url('calendar.svg');
}

#next-concert a {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

#next-concert p {
    position: relative;
    top: 48%;
    margin: 0;
    color: #eee;
}

#next-concert #day {
    font-size: 180%;
    font-weight: bold;
}
