<main>
  <div id="bio">
    <h1>Ivan</h1>
    <dl>
      <dt>Lieu de naissance</dt>
      <dd>Contigo</dd>
      <dt>Élément</dt>
      <dd>Air</dd>
      <dt>Classe</dt>
      <dd>Éo-sage</dd>
      <dt>Armes de prédilection</dt>
      <dd>Rapières, bâtons</dd>
    </dl>
  </div>
  <div id="photo">
    <img src="https://v3.goldensun-world.com/img/wallpapers/ivan_l.jpg" style="object-position: 35%">
  </div>
</main>
