main {
    display: grid;
    grid-template-columns: 60% 40%;
    padding-right: 4%;
}

main > div {
    padding: 2%;
}

#bio dl {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

#photo {
    height: 90%;
    align-self: center;
}

#photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
