<main>
  <div id="photos">
    <a href="vlad.html"><img class="portrait" src="https://v3.goldensun-world.com/img/artwork/vlad_b.jpg"></a>
    <a href="garet.html"><img class="portrait" src="https://v3.goldensun-world.com/img/artwork/garet_b.jpg"></a>
    <a href="ivan.html"><img class="portrait" src="https://v3.goldensun-world.com/img/artwork/ivan_b.jpg"></a>
    <a href="sofia.html"><img class="portrait" src="https://v3.goldensun-world.com/img/artwork/sofia_b.jpg"></a>
  </div>

  <div id="bio">
{BIO}
  </div>

</main>
