<main>
  <div id="bio">
    <h1>Sofia</h1>
    <dl>
      <dt>Lieu de naissance</dt>
      <dd>Imil</dd>
      <dt>Élément</dt>
      <dd>Eau</dd>
      <dt>Classe</dt>
      <dd>Aqua-sage</dd>
      <dt>Armes de prédilection</dt>
      <dd>Masses, bâtons</dd>
    </dl>
  </div>
  <div id="photo">
    <img src="https://v3.goldensun-world.com/img/wallpapers/sophia_l.jpg" style="object-position: 35%">
  </div>
</main>
