<main>
  <div id="bio">
    <h1>Vlad</h1>
    <dl>
      <dt>Lieu de naissance</dt>
      <dd>Val</dd>
      <dt>Élément</dt>
      <dd>Terre</dd>
      <dt>Classe</dt>
      <dd>Écuyer</dd>
      <dt>Armes de prédilection</dt>
      <dd>Sabres, épées, haches, masses</dd>
    </dl>
  </div>
  <div id="photo">
    <img src="https://v3.goldensun-world.com/img/wallpapers/vlad_l.jpg" style="object-position: 35%">
  </div>
</main>
